:root{
    --black: #000000;
    --white: #ffffff;
    --grey: #b9b9b9;
    --lightgrey: #dbdbdb;
    --darkgrey: #616161;

    --font-size : 20px;
}

body {
    position:fixed;
    background-color: var(--black);
}

*{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Roboto Mono', monospace; */

.box {
    width: 100vw;
    height: 100vh;

    position:fixed;
    top:0px;
    left:0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 110px;
    color: var(--white);

}

.heading {
    font-family: 'Abril Fatface', cursive;
    font-size: 70px;
    color: var(--lightgrey); 
}

.left{
    width: 50%;
    height: 100%;

    float: left;
    background-color: var(--black);
    padding: 5%;

    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.right{
    width: 50%;
    height: 100%;
    float: right;
    
    background-color: var(--white);
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.button {
	box-shadow: 0px 0px 50px -5px var(--black);
	background-color:var(--white);
	
    border-radius:28px;
    position: relative;
    z-index: 999;
	border: none;
	color:var(--black);

	font-family: 'Roboto Mono', monospace;
	font-size:25px;
    font-weight: 500;
	padding:15px 65px;
	text-decoration:none;
}

button:hover{
    background-color: var(--white);
    margin:0px 0px 0px 0px;
}

.button:hover {
	background-color:var(--black);
	border: 5px solid var(--white);
	color:var(--white);
}

.image{
    width: 100%;

    position: absolute;
    z-index: 1;
    bottom: 0px;

    filter: grayscale(100%) brightness(70%) saturate(0%) contrast(200%);
}

.wooshLeft{
    animation-name: goLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.delete{
    animation-name: delete;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.wooshRight{
    animation-name: goRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes goLeft {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(-100%);
        display:none;
    }
}

@keyframes delete {
    from {
        transform: translateY(0%);  
    }
    to {
        transform: translateY(100%);
        display:none;
    }
}

@keyframes goRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
        display: none;
    }
}

.Page {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.top {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topLeft {
    width: 50%;
    height: 100%; 
    display: flex;
}

.topRight {
    width: 50%;
    height: 100%;
    display:flex;  
}

#txtArea {
    width: 100%;
    height: 100%;
    padding: 2%;
    
    border: none;
    font-size: var(--font-size);
    font-family: 'Roboto Mono', monospace;
}

.aslArea {
    width: 50vw;
    height: 50vh;

    background-color: var(--lightgrey);
    overflow: auto;

    display: inline-block;
    overflow: auto;
}

.label {
    
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--black);
    background-color: var(--white);
}

.favouritesBtn {
    width: 10%;
    height: 10%;

    position: absolute;
    z-index: 10;
    top: 0px;
    right: 0px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 2px solid var(--black);
    background-color: var(--white);
    object-fit: scale-down;
}

.favouritesBtn:hover{
    background-color: var(--black);
}

.favouritesBtn img{
    display: inherit;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.active{
    background-color: var(--black);
}

.svgActive{
    filter:invert(100%);
}

.favouritesBtn:hover img{
    filter:invert(100%);
}

.bottom {
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.row{
    width: 100%;
    height: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.swapButton{
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black);

    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--white);

    border: 2px solid var(--white);
}

.spaceButton{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black);

    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    color: var(--white);

    border: 2px solid var(--white);
}

.delButton{
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black);

    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    color: var(--white);

    border: 2px solid var(--white);
}

.frameKey{
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--white);
    background-color: var(--black);
}

.letterKey{
    width: 100%;
    height: 100%;
    background-color:inherit;

    display: inherit;
    justify-content: inherit;
    align-items:inherit;

    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--white);

}

.spaceButton:hover, .swapButton:hover, .delButton:hover, .letterKey:hover{
    border: 2px solid var(--darkgrey);
    background-color: var(--white);
    color: var(--black);
}

.aslKey{
    width: 100%;
    height: 100%;
    background-color: inherit;

    display: inherit;
    justify-content: inherit;
    align-items:inherit;

    object-fit: scale-down;
    display: none;
}

.aslKey img{
    width: 60%;
    object-fit: scale-down;
}

.aslKey:hover{
    background-color: var(--white);
    border: 2px solid var(--darkgrey);
}

.aslKey:hover img{
    filter: invert(100%);
}

.aslCard{
    width: 20%;
    height: 20%;

    display: inline-block;
    margin-left: 0px;

    border: 2px solid var(--darkgrey);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.A{
    background-image: url(../assets/images/alphabet/A.png);
}

.B{
    background-image: url(../assets/images/alphabet/B.png);
}
.C{
    background-image: url(../assets/images/alphabet/C.png);
}
.D{
    background-image: url(../assets/images/alphabet/D.png);
}
.E{
    background-image: url(../assets/images/alphabet/E.png);
}
.F{
    background-image: url(../assets/images/alphabet/F.png);
}
.G{
    background-image: url(../assets/images/alphabet/G.png);
}
.H{
    background-image: url(../assets/images/alphabet/H.png);
}
.I{
    background-image: url(../assets/images/alphabet/I.png);
}
.J{
    background-image: url(../assets/images/alphabet/J.png);
}
.K{
    background-image: url(../assets/images/alphabet/K.png);
}
.L{
    background-image: url(../assets/images/alphabet/L.png);
}
.M{
    background-image: url(../assets/images/alphabet/M.png);
}
.N{
    background-image: url(../assets/images/alphabet/N.png);
}
.O{
    background-image: url(../assets/images/alphabet/O.png);
}
.P{
    background-image: url(../assets/images/alphabet/P.png);
}
.Q{
    background-image: url(../assets/images/alphabet/Q.png);
}
.R{
    background-image: url(../assets/images/alphabet/R.png);
}
.S{
    background-image: url(../assets/images/alphabet/S.png);
}
.T{
    background-image: url(../assets/images/alphabet/T.png);
}
.U{
    background-image: url(../assets/images/alphabet/U.png);
}
.V{
    background-image: url(../assets/images/alphabet/V.png);
}
.W{
    background-image: url(../assets/images/alphabet/W.png);
}
.X{
    background-image: url(../assets/images/alphabet/X.png);
}
.Y{
    background-image: url(../assets/images/alphabet/Y.png);
}
.Z{
    background-image: url(../assets/images/alphabet/Z.png);
}


.swapTextGo{
    animation-name: swapTextGo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes swapTextGo {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.swapTextBack{
    animation-name: swapTextBack;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes swapTextBack {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.swapAslGo{
    animation-name: swapAslGo;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes swapAslGo {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.swapAslBack{
    animation-name: swapAslBack;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes swapAslBack {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.menuContainer{
    width: 100vw;
    height: 100vh;
    
    position:fixed;
    top: 0;
    left: 0;
    z-index: 19;
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.menuShow{
    animation-name: menuShow;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    background-color: rgba(0,0,0,0.9);
    opacity: 1;
    display: flex;
}

@keyframes menuShow{
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(0%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

.menuExit{
    animation-name: menuExit;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background-color: rgba(0,0,0,0.9);
    opacity: 1;
    display:flex;
}

@keyframes menuExit{
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    50% {
        transform: translateX(0%);
        opacity: 0;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
    }
}

.menuBox{
    background-color: none;
    width:70vw;
    height: 90vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.exitMenuButton{
    position: absolute;
    top: 0px;
    right: 0px;
    margin:0;
    z-index: 20;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px;
    
    border: 2px solid var(--black);;
    background-color: var(--white);
    
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--black);
}

.exitMenuButton:hover{
    background-color: var(--black);
    color: var(--white);
}

.fontChangeFrame{
    width: 100%;
    height: 30%;
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: var(--white);
    border: 2px solid var(--black);
    
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--black);
}

.favouriteFrame{
    width: 100%;
    height: 70%;
    
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.favouriteLabel{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px;
    
    border: 2px solid var(--black);;
    background-color: var(--white);
    
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: var(--black);
}

#favouriteMenu{
    width: 100%;
    height: 90%;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    border: 2px solid var(--black);;
    background-color: var(--white);

    overflow: auto;
}

.historyCard{
    width: 100%;
    height: 25%;
    min-height: 25%;
    max-height: 25%;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    overflow: hidden;

    background-color: var(--white);
    border: 2px solid var(--grey);
    
}

.content {
    height: 100%;
    width: 70%;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    overflow: auto;

    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    color: var(--black);
}

.btnContainer {
    height: 100%;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

    border-left: 2px solid var(--lightgrey);
}

.cardBtn {
    min-height: 50%;
    min-width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    color: var(--black);

    box-shadow: none;
    border: none;
}

.cardBtn:hover{
    background-color: var(--black);
    color: var(--white);
}


#slider{
    margin-top: 20px;
    width: 80%;
    border: none;
    appearance: none;
}

#slider::-webkit-slider-runnable-track {
    width: 80%;
    height: 5px;
    background: var(--grey);
    border: none;
    border-radius: 3px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: none;
    background: var(--black);
    margin-top: -7px;
}

#slider:focus {
    outline: none;
}

#slider:focus::-webkit-slider-runnable-track {
    background: var(--darkgrey);
    border-radius: none;
}

.filler{
    display: flex;
}



@media only screen and (max-width: 1000px) {
    .box{
        height:90vh;
        flex-direction: column;
    }
    .left, .right{
        width:100vw;
        height:45vh;
        overflow:hidden;
    }
    .title {
        font-family: 'Abril Fatface', cursive;
        font-size: 90px;
        color: var(--white);
    
    }
    
    .heading {
        font-family: 'Abril Fatface', cursive;
        font-size: 40px;
        color: var(--lightgrey); 
    }

    .top{
        height:50%;
    }
    .bottom{
        height:30%;
    }

    .filler{
        display: none;
    }

    .aslCard{
        width: 20%;
        height: 15%;
    }

    .optionframe{
        font-size: 20px;
    }

    .menuBox{
        height: 60vh;
    }
}
